* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  font-family: "Lato", sans-serif;
}
:root {
  --mainColor: #5f27cd;
}
/* Profile style */
.nav-style {
  background-color: #5f27cd;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.imgcontainer {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 20px;
  transition: 0.5s ease;
  background-color: #5f27cd;
}

.imgcontainer:hover .overlay {
  opacity: 0.8;
}

.container a {
  color: red;
  font-size: 20px;
  text-decoration: none;
}

.text a {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* animation in css3 */
.batman_contact {
  height: 100px;
  width: 90%;
  position: relative;
  /* background-color: rgba(0, 0, 255, 0.5); */
}
.batman_contact img {
  height: 80px;
  width: 90px;
  position: absolute;
  left: 0;
  animation-name: batmanbhag;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes batmanbhag {
  from {
    left: 0;
  }
  to {
    left: 80%;
  }
}
